.layout
    & .popup-background
        right: 0
    &__title
        cursor: pointer
    &-wrapper:not(:first-child)
        margin-top: 34px
    &__img
        width: 42px
    &__little-img
        width: 30px
        margin-left: 3px
@include respond-to(md)
    .layout
        display: none