.controls
    .container
        .content.flex.jc-sb
            .controls__navigation.flex
                .controls__img-wrapper.controls__img-description.controls__img-description-1(data-open-modal="saved")
                    svg.controls__icon(width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(x="4" y="7" width="17" height="2" fill="#4B4B4B")
                        rect(x="4" y="14" width="17" height="2" fill="#4B4B4B")
                        rect(y="14" width="2" height="2" fill="#4B4B4B")
                        rect(y="7" width="2" height="2" fill="#4B4B4B")
                        rect(width="2" height="2" fill="#4B4B4B")
                        rect(x="4" width="17" height="2" fill="#4B4B4B")
                .controls__img-wrapper.controls__img-description.controls__img-description-2.m-r-16(data-open-modal="content")#save-icon
                    svg.controls__icon.m-l-20(width="18" height="25" viewBox="0 0 18 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 23.0001V1.27783H17V23.0001L8.68 18.2483L1 23.0001Z" stroke="#4B4B4B" stroke-width="1.5")
                        path(d="M9 6V14" stroke="#4B4B4B" stroke-width="1.5")
                        path(d="M5 10L13 10" stroke="#4B4B4B" stroke-width="1.5")
            .controls__control-panel.control-panel.flex
                .control-panel__pages.pages.flex
                    label.pages__description.controls__icon(for="page") Страница
                    input.num-input.m-l-12(type="number" id="page"  min="0" max="272")
                    p.pages__all &nbsp;&nbsp;/&nbsp;&nbsp;272
                .control-panel__format.flex.m-l-12
                    .format__item.flex
                        .controls__img-wrapper.flex.m-l-20
                            svg.controls__icon(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                circle.blue-s(cx='8.30556', cy='8.30556', r='7.55556', stroke='#4B4B4B', stroke-width='1.5')
                                path(d='M5 8.5L12 8.5', stroke='#4B4B4B', stroke-width='1.5')
                                path(d='M13.0996 13.5L17.0996 17.5', stroke='#4B4B4B', stroke-width='1.5')

                        p.scale__interest.m-l-8 100%
                        .controls__img-wrapper.m-l-8
                            svg.controls__icon(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M8.5 4.6001V11.6001', stroke='#4B4B4B', stroke-width='1.5')
                                path(d='M5 8.1001L12 8.1001', stroke='#4B4B4B', stroke-width='1.5')
                                circle.blue-s(cx='8.30556', cy='8.30556', r='7.55556', stroke='#4B4B4B', stroke-width='1.5')
                                path(d='M13.0996 13.1001L17.0996 17.1001', stroke='#4B4B4B', stroke-width='1.5')
                    .format__item.m-l-28
                        .controls__img-wrapper
                            svg.controls__icon(width="26" height="11" viewBox="0 0 26 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M16.5 5.5H25M25 5.5L21 1M25 5.5L21 10.5" stroke="#4B4B4B" stroke-width="1.5")
                                path(d="M9.5 5.5H1M1 5.5L5 1M1 5.5L5 10.5" stroke="#4B4B4B" stroke-width="1.5")
                    .format__item
                        .controls__img-wrapper
                            svg.controls__icon.m-l-20(width="11" height="25" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M6 15v8.5m0 0l4.5-4m-4.5 4l-5-4m5-9.75v-8.5m0 0l4.5 4m-4.5-4l-5 4" stroke="#4B4B4B" stroke-width="1.5")
                    .format__item.format__item_fullscreen.m-l-36
                        .controls__img-wrapper
                            svg.controls__icon(width='21', height='21', viewbox='0 0 21 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M7 1H1V7', stroke='#4B4B4B', stroke-width='1.5')
                                path(d='M14 1H20V7', stroke='#4B4B4B', stroke-width='1.5')
                                path(d='M7 20H1V14', stroke='#4B4B4B', stroke-width='1.5')
                                path(d='M14 20H20V14', stroke='#4B4B4B', stroke-width='1.5')
                    .format__item.m-l-28.flex
                        .controls__img-wrapper
                            svg.controls__icon(width='33' height='29' viewbox='0 0 33 29' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M7.78476 12.0851C9.0883 6.03416 15.0503 2.18563 21.1012 3.48917C27.1522 4.7927 31.0007 10.7547 29.6972 16.8056C28.3936 22.8566 22.4316 26.7051 16.3807 25.4016C15.2187 25.1512 12.5606 24.2659 11.2245 22.7274' stroke='#4B4B4B' stroke-width='1.5')
                                path(d='M7.89213 11.5866C7.67756 12.5826 7.35571 14.0767 7.53186 15.678M7.53186 15.678L11.9835 11.9469M7.53186 15.678L3.0882 12.1151' stroke='#4B4B4B' stroke-width='1.5')
                        .controls__img-wrapper
                            svg.controls__icon.m-l-12(width='33' height='29' viewbox='0 0 33 29' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M25.2152 12.0851C23.9117 6.03416 17.9497 2.18563 11.8988 3.48917C5.84784 4.7927 1.99931 10.7547 3.30284 16.8056C4.60638 22.8566 10.5684 26.7051 16.6193 25.4016C17.7813 25.1512 20.4394 24.2659 21.7755 22.7274' stroke='#4B4B4B' stroke-width='1.5')
                                path(d='M25.1079 11.5866C25.3224 12.5826 25.6443 14.0767 25.4681 15.678M25.4681 15.678L21.0165 11.9469M25.4681 15.678L29.9118 12.1151' stroke='#4B4B4B' stroke-width='1.5')
            .controls__settings.settings
                .controls__img-wrapper.controls__img-description.controls__img-description-3(data-open-modal="link")
                    svg.controls__icon.m-l-20(width='23' height='24' viewbox='0 0 23 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M17.5535 10.8221L20.6212 7.73873C22.4596 5.94972 22.4596 4.11295 20.6212 2.32394C18.7828 0.534937 16.4848 0.582468 14.7959 2.32433L8.82113 8.13865C7.75259 9.52748 7.75256 11.3165 8.67184 12.211C9.53784 13.0537 10.0506 13.5527 10.5102 14' stroke='#4B4B4B' stroke-width='1.5')
                        path(d='M5.44652 13.1779L2.37879 16.2613C0.540403 18.0503 0.540403 19.887 2.37879 21.6761C4.21718 23.4651 6.51516 23.4175 8.20411 21.6757L14.1789 15.8614C15.2474 14.4725 15.2474 12.6835 14.3282 11.789C13.4622 10.9463 12.9494 10.4473 12.4898 10' stroke='#4B4B4B' stroke-width='1.5')

                .controls__img-wrapper.controls__img-description.controls__img-description-4
                    svg.controls__icon.m-l-20(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.5 11L12.2727 10L10.6364 15.7438C10.2 17.1627 10.0909 17.6882 11.4 17.9585C12.7091 18.2288 14.4545 17.1026 15 16.7647' stroke='#4B4B4B' stroke-width='1.5')
                        circle.blue-s(cx='12' cy='12' r='11.25' stroke='#4B4B4B' stroke-width='1.5')
                        circle.blue-f(cx='12.5' cy='6.5' r='1.5' fill='#4B4B4B')
                .controls__img-wrapper.controls__img-description.controls__img-description-5(data-open-modal="shelf")
                    svg.controls__icon.m-l-20(width='26' height='23' viewbox='0 0 26 23' fill='none' xmlns='http://www.w3.org/2000/svg')
                        mask#path-1-inside-1(fill='white')
                            rect(x='4' width='18' height='5' rx='1')
                        rect(x='4' width='18' height='5' rx='1' stroke='#4B4B4B' stroke-width='3' mask='url(#path-1-inside-1)')
                        mask#path-2-inside-2(fill='white')
                            rect(y='6' width='26' height='5' rx='1')
                        rect(y='6' width='26' height='5' rx='1' stroke='#4B4B4B' stroke-width='3' mask='url(#path-2-inside-2)')
                        mask#path-3-inside-3(fill='white')
                            rect(x='4' y='12' width='18' height='5' rx='1')
                        rect(x='4' y='12' width='18' height='5' rx='1' stroke='#4B4B4B' stroke-width='3' mask='url(#path-3-inside-3)')
                        mask#path-4-inside-4(fill='white')
                            rect(y='18' width='26' height='5' rx='1')
                        rect(y='18' width='26' height='5' rx='1' stroke='#4B4B4B' stroke-width='3' mask='url(#path-4-inside-4)')

                .controls__img-wrapper.controls__img-description.controls__img-description-6(data-open-modal="search")
                    svg.controls__icon.m-l-20(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                        circle.blue-s(cx='8.30556' cy='8.30556' r='7.55556' stroke='#4B4B4B' stroke-width='1.5')
                        path(d='M13.4166 13.417L19.1666 19.167' stroke='#4B4B4B' stroke-width='1.5')
                .controls__img-wrapper.controls__img-description.controls__img-description-7(data-open-modal="layout")
                    svg.controls__icon.m-l-20(width='16' height='22' viewbox='0 0 16 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.75 0.75H8.68934L15.25 7.31066V21.25H0.75V0.75Z' stroke='#4B4B4B' stroke-width='1.5')
                .controls__img-wrapper.controls__img-description.controls__img-description-8(data-open-modal="font")    
                    svg.controls__icon.m-l-20(width='30' height='18' viewbox='0 0 30 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M15 1C8.54576 1 2.89831 6.42529 1 9C2.89831 11.7586 8.59322 17 15 17C21.4068 17 27.1017 11.7586 29 9C27.1017 6.42529 21.4542 1 15 1Z' stroke='#4B4B4B' stroke-width='1.5')
                        circle.blue-s(cx='15' cy='9' r='5.25' stroke='#4B4B4B' stroke-width='1.5')
                p.dark-text.m-l-20.controls__icon.controls__img-description.controls__img-description-9 txt
                .controls__img-wrapper.controls__img-description.controls__img-description-10(data-open-modal="number-page")
                    .m-l-20.controls__icon.controls__img-description
                        p.dark-text.number-page 1 /&nbsp;
                        p.dark-text.number-all-page 272


