.controls
    .container
        .content.flex.jc-sb
            .controls__navigation.navigation
                img.dark-icon.controls__icon(src="./img/icons/icon-1.svg", alt="")
                img.dark-icon.controls__icon.m-l-28(src="./img/icons/icon-2.svg", alt="")
            .controls__control-panel.control-panel.flex
                .control-panel__pages.pages.flex
                    label.pages__description.controls__icon(for="page") Страница
                    input.pages__input.m-l-12(type="number" id="page"  min="0" max="272")
                    p.pages__all &nbsp;&nbsp;/&nbsp;&nbsp;272
                .control-panel__format.format.flex.m-l-12
                    .format__item.scale.flex
                        img.light-icon.controls__icon.controls__icon(src="./img/icons/minus.svg", alt="")
                        p.scale__interest.m-l-8 100%
                        img.light-icon.controls__icon.m-l-8(src="./img/icons/plus.svg", alt="")
                    .format__item.wider.m-l-28
                        img.light-icon.controls__icon(src="./img/icons/icon-wider.svg", alt="")
                    .format__item.longer
                        img.light-icon.controls__icon.m-l-28(src="./img/icons/icon-wider-2.svg", alt="")
                    .format__item.rotate.m-l-36
                        img.light-icon.controls__icon(src="./img/icons/rotate-left.svg", alt="")
                        img.light-icon.controls__icon.m-l-12(src="./img/icons/rotate-right.svg", alt="")
            .controls__settings.settings
                img.dark-icon.controls__icon.m-l-20(src="./img/icons/settings-1.svg", alt="")
                img.dark-icon.controls__icon.m-l-20(src="./img/icons/settings-2.svg", alt="")
                img.dark-icon.controls__icon.m-l-20(src="./img/icons/settings-3.svg", alt="")
                img.dark-icon.controls__icon.m-l-20(src="./img/icons/settings-4.svg", alt="")
                img.dark-icon.controls__icon.m-l-20(src="./img/icons/settings-5.svg", alt="")
                img.dark-icon.controls__icon.m-l-20(src="./img/icons/settings-6.svg", alt="")
                p.dark-text.m-l-20.controls__icon txt

