.header
    .container
        .content.flex.jc-sb
            .header__info-wrapper.flex
                img.header__logo.logo(src="./img/logo.png", alt="")
                img.header__little-logo.little-logo(src="./img/little-logo.png", alt="")
                .header__book.book.flex
                    .book__back 
                    p.book__name Инженерные технологии и системы
            .header__authorization
                a.login(href="#") Вход /&nbsp;
                a.registration(href="#") Регистрация