.header
    .container
        .content
            .header__info-wrapper.flex
                img.header__logo.logo(src="./img/logo.png", alt="")
                img.header__little-logo.little-logo(src="./img/little-logo.png", alt="")
                .header__book.book.flex
                    .book__back 
                    p.book__name Инженерные технологии и системы Инженерные технологии и системы Инженерные технологии и системы Инженерные технологии и системы Инженерные технологии и системы Инженерные технологии и системы Инженерные технологии и системы
            .header__authorization
                a.login(href="#") Вход /&nbsp;
                a.registration(href="#") Регистрация
            p.header__name.hidden  Имя Фамилия
.header__settings.hidden.settings.popup-background
    a.settings__info(href="#") Кабинет библиотекаря
    a.settings__info(href="#") Выйти



            