.no-access
    .container
        .content
            .no-access__info-wrapper
                span.no-access__title Нет доступа к странице.
                p.no-access__description Полный доступ предоставляется только по подписке
            .no-access__item.get-access
                            .get-access__title
                                span Частным лицам 
                                p.icon_close
                            .get-access__desctiption
                                p Если вы частное лицо, добавьте книгу в корзину и оплатите доступ
                                a.get-access__button.button Получить доступ за 300 руб.
            .no-access__item.get-access
                            .get-access__title
                                span Представителям организаций
                                p.icon_close
                            .get-access__desctiption
                                p Если вы пердставитель организации, отправьте заявку на  подключение к ЭБС по договору
                                a.get-access__button.button Отправить заявку
            .no-access__item.get-access
                            .get-access__title
                                span Студентам и преподавателям
                                p.icon_close
                            .get-access__desctiption
                                p Если вы студент или преподаватель, обратитесь в библиотеку Вашего учебного заведения для получения доступа







