.reader-controls
    .container
        .content
            .reader-controls__left
                .reader-controls__pre
            .reader-controls__right
                .reader-controls__next
                .reader-controls__panel
                    .reader-controls__icon.reader-controls__closer 
                        img(src="./img/icons/reader-controls-1.svg", alt="")
                    .reader-controls__icon.reader-controls__farther 
                        img(src="./img/icons/reader-controls-2.svg", alt="")
                    .reader-controls__icon.reader-controls__full-scree
                        img(src="./img/icons/reader-controls-3.svg", alt="") 