.reader
    .container
        .content
            .reader-controls__left.reader-controls
                .reader-controls__pre
            .reader-controls__right.reader-controls
                .reader-controls__next
                .reader-controls__panel
                    .reader-controls__icon.reader-controls__closer 
                        img(src="./img/icons/reader-controls-1.svg", alt="")
                    .reader-controls__icon.reader-controls__farther 
                        img(src="./img/icons/reader-controls-2.svg", alt="")
                    .reader-controls__icon.reader-controls__full-scree
                        img(src="./img/icons/reader-controls-3.svg", alt="") 
            .reader__page
                .reader__info   ИНЖЕНЕРНЫЕ ТЕХНОЛОГИИ И СИСТЕМЫ                                            Том 30, № 2. 2020 
                                |что вероятность износа гнезда под              является расстояние между головкой
                                |бурт гильзы по глубине для блоков              цилиндров и днищем поршня при поло-
                                |двигателей Д-245, Д-260 составляет             жении его в верхней мертвой точке.
                                |до 23 % [1–4].                                     Размерная цепь AΔ имеет в качестве
                                |    Анализ отечественных источников            замыкающего звена величину AΔ, кото-
                                |научно-технической литературы по-              рая определяется из уравнения2:
                                |казал, что достоверной информации
                                |в виде технических рекомендаций по                  A∆H = A1 + A2 + A3 − A4 + A5 − A6 +
                                |устранению данного дефекта нет1 [5–7].
                                |Производители грузовых автомобилей,                           + A7 + A8 − A9 ,
                                |такие как Scania, MAN, Volvo, DAF
                                |Trucks NV, предлагают производить
                                |расточку посадочных мест под гильзу            где A1...A2 – составляющие зве-
                                |в блоке цилиндров, для чего в качест-          нья (знак «–» указывает, что звенья
                                |ве запасных частей поставляют гильзы           уменьшающие; «+» – увеличиваю-
                                |с увеличенными буртами, а для регули-          щие); A1 – толщина прокладки, A1 =
                                |ровки выступания гильзы над плоско-            = 1,5−0,1 мм [5]; A2 – расстояние от оси
                                |стью блока используют медные регули-           коренных опор в блоке до привалоч-
                                |ровочные кольца [8–11].                        ной плоскости с головкой блока, по
                                |    В связи с этим необходимо решить           чертежу A2× = 371+0,2 мм, допустимый
                                |ряд технологических задач.                     A2Ä = 370,5 мм; A3 – зазор в сопряжении
                                |    Первая задача заключается в обо-           коленчатый вал – подшипник коренной,
                                |сновании глубины фрезерования коро-            по чертежу A3× = ++00,,126
                                |                                                                       072 мм, допустимый
                                |
                                |бленой привалочной плоскости блока             A3Ä = 0,130 мм; A4 – радиус кривоши-
                                |цилиндров с целью наилучшего базиро-           па, A4 = 62,5 ± 0, 04 мм; A5 – зазор в со-
                                |вания инструмента при расточке гнезда          пряжении вкладыш шатуна – колен-
                                |под бурт гильзы по глубине.                    чатый вал, по чертежу A5× = ++00,,115 067 мм,
                                |
                                |    В случае установки регулировочно-          допустимый A5Ä = 0,120 мм; A6 – рас-
                                |го кольца целью второй задачи будет            стояние между осями отверстий верх-