.controls
    background-color: $white
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1)
    padding: 10px 0
    position: fixed
    width: 100%
    top: 68px
    z-index: 100
    color: $light-grey
    &__img-wpapper
        cursor: pointer
    &__icon
        cursor: pointer
    &__img-wpapper:hover
        svg
            rect
                fill: $blue
    &__img-wpapper:hover
        svg
            path
                stroke: $blue
    &__img-wpapper:hover
        .blue-f
            fill: $blue
        .blue-s
            stroke: $blue
    
    &__settings
        display: flex
        align-items: center
    &__img-description
        position: relative
        &:hover
            &::before
                content: ''
                position: absolute
                top: -65px
                left: -18px
                width: auto
                min-width: 105px
                text-align: center
                background-color: white
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15)
                border-radius: 3px
                padding: 13px 18px
                color: $dark-grey
                
        &:active
            &::before
                display: none
                    
    &__img-description-1
        &:hover
            &::before
                content: 'Оглавление'
    &__img-description-2
        &:hover
            &::before
                content: 'Добавить закладку'
    &__img-description-3
        &:hover
            &::before
                content: 'LMS-ссылки'
    &__img-description-4
        &:hover
            &::before
                content: '.'
    &__img-description-5
        &:hover
            &::before
                content: 'Создать полку'    
    &__img-description-6
        &:hover
            &::before
                content: 'Поиск'
    &__img-description-7
        &:hover
            &::before
                content: 'Ориентация'
    &__img-description-8
        &:hover
            &::before
                content: 'Изменить шрифт'    
    &__img-description-9
        &:hover
            color: $blue
            &::before
                content: 'Текст'

.control-panel
    &__format
        position: relative
        padding-left: 14px
        &::before
            content: ''
            position: absolute
            height: 25px
            width: 20px
            border-left: 1px solid #E1E1E1
            left: 0


.scale__interest
    color: #4B4B4B

@include respond-to(lg)
    .controls
        & .content
            flex-wrap: wrap
            justify-content: center
        &__navigation
            order: 2
        &__control-panel
            order: 4
        &__settings
            order: 3
            



@include respond-to(md)
    .controls
        overflow-y: hidden
        top: 50px
        &__img-description
            position: relative
            &:hover
                &::before
                    display: none
        & .content
            flex-wrap: nowrap
            width: calc( 100% + 20px ) 
        &__control-panel
            display: none
        &__img-description-7
            display: none

        