.controls
    background-color: $white
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1)
    padding: 10px 0
    position: fixed
    width: 100%
    top: 65px
    z-index: 100
    color: $light-grey
    user-select: none
    &__img-wrapper
        cursor: pointer
    &__icon
        cursor: pointer
    &__img-wrapper:hover, &__img-wrapper_active
        svg
            rect
                fill: $blue
    &__img-wrapper:hover, &__img-wrapper_active
        svg
            path
                stroke: $blue
    &__img-wrapper:hover, &__img-wrapper_active
        .blue-f
            fill: $blue
        .blue-s
            stroke: $blue
    &__img-description-5:hover, &__img-description-5.controls__img-wrapper_active
        svg
            rect
                stroke: $blue
                fill: $white

    &__settings
        display: flex
        align-items: center
    &__img-description
        position: relative
        white-space: nowrap
        &:hover
            &::before
                content: ''
                position: absolute
                top: -55px
                left: -18px
                width: auto
                min-width: 105px
                text-align: center
                background-color: white
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15)
                border-radius: 3px
                padding: 13px 18px
                color: $dark-grey
                white-space: nowrap
                    
    &__img-description-1
        &:hover
            &::before
                content: 'Оглавление'
    &__img-description-2
        &:hover
            &::before
                content: 'Добавить закладку'
    &__img-description-3
        &:hover
            &::before
                content: 'LMS-ссылки'
    &__img-description-4
        &:hover
            &::before
                content: 'К описанию'
    &__img-description-5
        &:hover
            &::before
                content: 'Создать полку'    
    &__img-description-6
        &:hover
            &::before
                content: 'Поиск'
    &__img-description-7
        &:hover
            &::before
                content: 'Ориентация'
    &__img-description-8
        &:hover
            &::before
                content: 'Изменить шрифт'    
    &__img-description-9
        user-select: none
        &:hover
            color: $blue
            &::before
                content: 'Текст'
    &__img-description-10
        user-select: none
        display: none
        &:hover
            p
                color: $blue


.control-panel
    &__format
        position: relative
        padding-left: 14px
        &::before
            content: ''
            position: absolute
            height: 25px
            width: 20px
            border-left: 1px solid #E1E1E1
            left: 0


.scale__interest
    color: #4B4B4B

@include respond-to(lg)
    .controls
        top: 50px
        &__img-description-7
            display: none
    .control-panel__format
        display: none
        

            



@include respond-to(xs)
    .controls
        overflow-y: hidden
        top: 50px
        .content
            justify-content: center
            flex-wrap: nowrap
        &__settings
            margin-left: -10px
        &__img-description
            position: relative
            &:hover
                &::before
                    display: none
            
        &__control-panel
            display: none
        &__img-description-7
            display: none
        &__img-description-10
            display: block

@media screen and ( max-width: 440px )
    .controls
        overflow: scroll
        .content
            width: calc( 100vw + 40px )
    
        