.controls
    background-color: $white
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1)
    padding: 10px 0
    position: fixed
    width: 100%
    top: 60px
    z-index: 100
    color: $light-grey
    &__icon
        cursor: pointer
    &__settings
        display: flex
        align-items: center
