.header
    background-color: $blue
    color: #ffffff
    padding: 17px
    position: fixed
    width: 100%
    z-index: 100
    &__logo
        width: 107px
        height: 26px
    &__little-logo
        height: 26px
        display: none
    &__book
        margin-left: 34px
    &__authorization
        font-size: 14px
        line-height: 16px

@include respond-to(md)
    .header 
        & .content
            display: flex
            flex-direction: column-reverse
            align-items: flex-end
        &__authorization
            margin: 0 5px 10px


@include respond-to(sm)
    .header 
        & .content
            display: flex
            flex-direction: row
            align-items: center
        &__logo
            display: none
        &__little-logo
            display: block
@media screen and ( max-width:  400px)
    .header 
        &__info-wrapper
            width: 20%
        &__authorization 
            white-space: nowrap
            position: absolute
            right: 0
            font-size: 11px
            line-height: 13px
            margin: 0
    .book
        &__name
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            width: 45%
            font-size: 11px
            line-height: 13px
            margin-left: 5px
        &__back
            font-size: 11px