.header
    background-color: $blue
    color: #ffffff
    padding: 17px
    position: fixed
    width: 100%
    z-index: 100
    &__logo
        width: 107px
        height: 26px
    &__book
        margin-left: 34px
    &__authorization
        font-size: 14px
        line-height: 16px

@include respond-to(md)
    .header 
        & .content
            display: flex
            flex-direction: column-reverse
            align-items: flex-end
        &__authorization
            margin: 0 5px 10px


