.reader
    position: relative
    &__page
        background-color: $white
        width: 730px
        height: 911px
        margin: 0 auto 31px
        padding: 52px 80px 26px
        position: relative
    &__info
        column-count: 2
        column-gap: 40px
        font-size: 14px
        line-height: 24px
.first-page
    position: relative
    margin-top: 160px


//media
@include respond-to(lg)
    .reader
        top: 40px 
        &__page
            width: 100%
@include respond-to(xs)
    .reader
        top: 0
        & .content
            padding-right: 0
        &__page
            width: 100%
            height: auto
            margin: 0 
            padding: 40px 30px 20px  
    .first-page
        position: relative
        top: 100px
        margin: 0
        margin-bottom: 100px
@include respond-to(xs)
    .reader
        &__info
            column-count: 1
            column-gap: 0

        