.reader
    position: relative
    .container
        grid-template-columns: 0 [p-start] 0 [c-start] auto [c-end]  0 [p-end] 0 !important
        overflow: auto
    &__page
        background-color: $white
        width: 730px
        height: 911px
        margin: 0 auto 31px
        padding: 55px 80px
        position: relative
    &__info
        display: flex
        flex-direction: column
        &-img
            width: 100%
.first-page
    position: relative
    margin-top: 160px

.double-page_active
    display: grid
    grid-template-columns: auto auto
    align-items: center
    justify-content: center
    grid-gap: 20px
    position: relative
    width: 100%
    margin-top: 170px
    & .first-page
        margin-top: 0
    &  .reader__page
        width: 100%
        height: auto 
        margin: 0

.continuous-page_active
    &  .reader__page
        height: auto
        margin: 0 auto    

//scale
[data-scale-percent="400"]
    .reader
        &__page
            width: calc( 730px * 4 ) 
            height: calc( 911px * 4 ) 

[data-scale-percent="375"]
    .reader
        &__page
            width: calc( 730px * 3.75 ) 
            height: calc( 911px * 3.75 ) 

[data-scale-percent="350"]
    .reader
        &__page
            width: calc( 730px * 3.5 ) 
            height: calc( 911px * 3.5 ) 

[data-scale-percent="325"]
    .reader
        &__page
            width: calc( 730px * 3.25 ) 
            height: calc( 911px * 3.25 ) 

[data-scale-percent="300"]
    .reader
        &__page
            width: calc( 730px * 3 ) 
            height: calc( 911px * 3 ) 

[data-scale-percent="275"]
    .reader
        &__page
            width: calc( 730px * 2.75 ) 
            height: calc( 911px * 2.75 ) 
    
[data-scale-percent="250"]
    .reader
        &__page
            width: calc( 730px * 2.5 ) 
            height: calc( 911px * 2.5 ) 
    
[data-scale-percent="225"]
    .reader
        &__page
            width: calc( 730px * 2.25 ) 
            height: calc( 911px * 2.25 ) 

[data-scale-percent="200"]
    .reader
        &__page
            width: calc( 730px * 2 ) 
            height: calc( 911px * 2 ) 


[data-scale-percent="175"]
    .reader
        &__page
            width: calc( 730px * 1.75 ) 
            height: calc( 911px * 1.75 ) 

[data-scale-percent="150"]
    .reader
        &__page
            width: calc( 730px * 1.5 ) 
            height: calc( 911px * 1.5 ) 

[data-scale-percent="125"]
    .reader
        &__page
            width: calc( 730px * 1.25 ) 
            height: calc( 911px * 1.25 ) 

[data-scale-percent="100"]
    .reader
        &__page
            width: calc( 730px * 1 ) 
            height: calc( 911px * 1 ) 
        .container
            overflow: hidden !important

[data-scale-percent="75"]
    .reader
        &__page
            width: calc( 730px * 0.75 ) 
            height: calc( 911px * 0.75 ) 
        .container
            overflow: hidden !important

[data-scale-percent="50"]
    .reader
        &__page
            width: calc( 730px * 0.5 ) 
            height: calc( 911px * 0.5 ) 
        .container
            overflow: hidden !important

//media
@include respond-to(lg)
    .first-page
        margin-top: 150px !important

    [data-scale-percent="400"] .reader__page
        width: calc( 100% * 4 ) 
        height: auto
        margin: 30px auto 
    [data-scale-percent="375"] .reader__page
        width: calc( 100% * 3.75 ) 
        height: auto
        margin: 30px auto 
    [data-scale-percent="350"] .reader__page
        width: calc( 100% * 3.5 ) 
        height: auto
        margin: 30px auto 
    [data-scale-percent="325"] .reader__page
        width: calc( 100% * 3.25 ) 
        height: auto
        margin: 30px auto 
    [data-scale-percent="300"] .reader__page
        width: calc( 100% * 3 ) 
        height: auto
        margin: 30px auto 
    [data-scale-percent="275"] .reader__page
        width: calc( 100% * 2.75 ) 
        height: auto
        margin: 30px auto 
    [data-scale-percent="250"] .reader__page
        width: calc( 100% * 2.5 ) 
        height: auto
        margin: 30px auto 
    [data-scale-percent="225"] .reader__page
        width: calc( 100% * 2.25 ) 
        height: auto
        margin: 30px auto 
    [data-scale-percent="200"] .reader__page
        width: calc( 100% * 2 ) 
        height: auto
        margin: 30px auto 
    [data-scale-percent="175"] .reader__page
        width: calc( 100% * 1.75 ) 
        height: auto
        margin: 30px auto 
    [data-scale-percent="150"] .reader__page
        width: calc( 100% * 1.5 ) 
        height: auto
        margin: 30px auto 
    [data-scale-percent="125"] .reader__page
        width: calc( 100% * 1.25 ) 
        height: auto
        margin: 30px auto 
    [data-scale-percent="100"] .reader__page
        width: 100% 
        height: auto
        margin: 30px auto 
    [data-scale-percent="75"] .reader__page
        width: calc( 100% * 0.75 ) 
        height: auto
        margin: 30px auto 
    [data-scale-percent="50"] .reader__page
        width: calc( 100% * 0.5 ) 
        height: auto
        margin: 30px auto 
            
@include respond-to(xs)
    .first-page
        margin-top: 110px
    .reader
        margin-top: 0
        & .content
            padding-right: 0
        &__page
            padding: 50px 30px 50px  

        