.reader
    position: relative
    &__page
        background-color: $white
        width: 730px
        max-height: 911px
        margin: 0 auto 31px
        padding: 52px 80px 26px

    &__info
        column-count: 2
        column-gap: 40px
        font-size: 14px
        line-height: 24px
@include respond-to(lg)
    .reader
        top: 40px 
        & .content
            padding-right: 20px
@include respond-to(sm)
    .reader
        top: 0px 
        & .content
            padding-right: 0
        &__page
            margin: 0 
            padding: 20px 20px 20px  
        &__info
            column-count: 1
            column-gap: 0
            font-size: 14px
    .first-page
        position: relative
        top: 120px
        margin: 0
        margin-bottom: 120px

        