.bookmark
    .container
        .content
            .bookmark-popup
                .exit
                .bookmark-popup__input-wrapper
                    label(for="password").bookmark-popup__description Название закладки
                    input(type="text" required id='bookmark' placeholder='1.2. Научный журнал “Инженер инженер инженер').input-text.bookmark-popup__input
                .bookmark__button-wrapper
                    button(type="button").button.bookmark__button Сохранить