.content-popup.modal(data-modal-side="left")#modal-content
    .container
        .content
            .popup-background
                .exit
                .content__popup.tabs-wrapper
                    .double-button-wrapper.tabs-buttons
                        button.double-button.tabs-buttons__item(data-tab-button="1").tabs-buttons__item_active Оглавление
                        button.double-button.tabs-buttons__item(data-tab-button="2") Закладки

                    .content-info.tabs-content(data-tab-content="1").tabs-content_active
                        .content-info__item
                            p.normal-text.content-info__text.content-info__text_open Глава 1. Научный журнал “Инженерные технологии и системы”
                            .content-info__points.content-info__points_active
                                p.blue-text.content-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                                p.grey-text.content-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                                p.grey-text.content-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                        .content-info__item
                            p.normal-text.content-info__text  Глава 1. Научный журнал “Инженерные технологии и системы”
                            .content-info__points
                                p.grey-text.content-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                                p.grey-text.content-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                                p.grey-text.content-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                        .content-info__item
                            p.normal-text.content-info__text Глава 1. Научный журнал “Инженерные технологии и системы”
                            .content-info__points
                                p.grey-text.content-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                                p.grey-text.content-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                                p.grey-text.content-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                        .content-info__item
                            p.normal-text.content-info__text Глава 1. Научный журнал “Инженерные технологии и системы”
                            .content-info__points
                                p.grey-text.content-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                                p.grey-text.content-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                                p.grey-text.content-info__description 1.2. Научный журнал “Инженерные технологии и системы”


                    .saved-info.tabs-content(data-tab-content="2")
                        .saved-info__item
                            .saved-wrapper
                                p.blue-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                                p.grey-text Стр. 5
                            img(src="./img/icons/pen.svg", alt="").saved-info__img.saved-info__img_edit
                            img(src="./img/icons/close.svg", alt="").saved-info__img.m-l-12.saved-info__img_delete
                        .saved-info__item
                            .saved-wrapper
                                p.normal-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                                p.grey-text Стр. 5
                            img(src="./img/icons/pen.svg", alt="").saved-info__img.saved-info__img_edit
                            img(src="./img/icons/close.svg", alt="").saved-info__img.m-l-12.saved-info__img_delete
                        .saved-info__item
                            .saved-wrapper
                                p.normal-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                                p.grey-text Стр. 5
                            img(src="./img/icons/pen.svg", alt="").saved-info__img.saved-info__img_edit
                            img(src="./img/icons/close.svg", alt="").saved-info__img.m-l-12.saved-info__img_delete
                        .saved-info__item
                            .saved-wrapper
                                p.normal-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                                p.grey-text Стр. 5
                            img(src="./img/icons/pen.svg", alt="").saved-info__img.saved-info__img_edit
                            img(src="./img/icons/close.svg", alt="").saved-info__img.m-l-12.saved-info__img_delete
                        .saved-info__item
                            .saved-wrapper
                                p.normal-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                                p.grey-text Стр. 5
                            img(src="./img/icons/pen.svg", alt="").saved-info__img.saved-info__img_edit
                            img(src="./img/icons/close.svg", alt="").saved-info__img.m-l-12.saved-info__img_delete
                    