.entrance.modul
    .container
        .content
            .entrance-popup
                .exit
                span.entrance-popup__title Вход
                .entrance-popup__input-wrapper
                    label(for="login").entrance-popup__description Логин или е-mail
                    input(type="text" required id='login').input-text
                .entrance-popup__input-wrapper
                    .password__description-wrapper
                        label(for="password").entrance-popup__description Пароль
                        a.blue-text Забыли пароль?
                    input(type="password" required id='password').input-text
                .flex.jc-sb.entrance__button-wrapper
                    input(type="submit" value='Войти').button.entrance__button
                    a.blue-text Зарегистрироваться
