.font.modal#modal-font(data-modal-side="right")
    .container
        .content
            .popup-background
                .exit
                .font-popup
                    .font__item
                        .font__img-wrapper
                            img.font__img(src="./img/icons/txt-1.svg", alt="")
                            p.normal-text.font__img-description Шрифт
                        .font-wrapper
                            p.font__type.grey-text.arial Arial
                            .icon_close.icon_grey
                        .font__more
                            p.font__type.grey-text.verdana Verdana
                            p.font__type.grey-text.tnr Times New Roman
                            p.font__type.grey-text.georgia Georgia
                            p.font__type.grey-text.calibri Calibri
                    .font__border
                    .font__item
                        .font__img-wrapper
                            img.font__img(src="./img/icons/txt-2.svg", alt="")
                            p.normal-text.font__img-description Размер
                        input.range(type="range" min="1" max="100" value="16")
                    .font__border
                    .font__item
                        .font__img-wrapper
                            img.font__img(src="./img/icons/txt-3.svg", alt="")
                            p.normal-text.font__img-description Интервал
                        input.range(type="range" min="1" max="100" value="16")