.layout.modal#modal-layout
    .container
        .content
            .popup-background
                .layout-popup
                    .layout-wrapper.flex
                        img.layout__img(src="./img/icons/layout-1.svg", alt="")
                        p.layout__title.m-l-28 Одиночный
                    .layout-wrapper.flex
                        img.layout__img(src="./img/icons/layout-1.svg", alt="")
                        p.layout__title.m-l-28 Непрерывный
                    .layout-wrapper.flex
                        img.layout__img.layout__little-img(src="./img/icons/layout-1.svg", alt="")
                        img.layout__img.layout__little-img(src="./img/icons/layout-1.svg", alt="")
                        p.layout__title.m-l-28 Книжный