.link#modal-link
    .container
        .content
            .popup-background
                .link-popup
                    .double-button-wrapper
                        button.double-button Ссылка на документ
                        utton.double-button.double-button_active LMS-ссылки
                    p.normal-text.m-t-24 Вы можете создавать ссылки на страницы книг для вставки в Систему управления обучением (англ. learning management system, LMS) своего учебного заведения. Для чтения страниц по таким ссылкам не требуется быть авторизованным пользователем ЭБС.
                    .flex.m-t-24
                        label(for="from").m-r-16.normal-text Страница с
                        input(type="number" id='from' min='0' max='271').num-input.m-r-16
                        label(for="to").m-r-16.normal-text до
                        input(type="number" id='to' min='1' max='272').num-input
                    .link__input-wrapper.m-t-16
                        input(type="text").link-input.input-text
                        input(type="text" value='Создать и скопировать в буфер').link__button.button
                        a.blue-text.m-t-24  Все lms-ссылки

