.number-page.modal#modal-number-page
    .container
        .content
            .popup-background
                .exit
                .number-page-popup 
                    .number-page__info-wrapper
                        p.normal-text Страница: 
                        p.dark-text.number-page &nbsp;1 /&nbsp;
                        p.dark-text.number-all-page 272
                    .flex
                        p.number-page__input-description.m-t-24.normal-text Перейти на страницу:
                    .input-icon-wrapper
                        .input-icon
                        input.num-input.number-page__input(type="number")