.saved.modal#modal-saved
    .container
        .content
            .popup-background
                .saved__popup.tabs-wrapper
                    .double-button-wrapper.tabs-buttons
                        button.double-button.tabs-buttons__item.tabs-buttons__item_active(data-tab-button="1") Оглавление
                        button.double-button.tabs-buttons__item(data-tab-button="2") Закладки
                    .saved-info.tabs-content(data-tab-content="1").tabs-content_active
                        .saved-info__item
                            p.blue-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                            p.grey-text Стр. 5
                        .saved-info__item
                            p.normal-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                            p.grey-text Стр. 5
                        .saved-info__item
                            p.normal-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                            p.grey-text Стр. 5
                        .saved-info__item
                            p.normal-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                            p.grey-text Стр. 5
                        .saved-info__item
                            p.normal-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                            p.grey-text Стр. 5
                    .contents-info.tabs-content(data-tab-content="2")
                        .contents-info__item
                            p.normal-text.contents-info__text.contents-info__text_open Глава 1. Научный журнал “Инженерные технологии и системы”
                            .contents-info__points
                                p.blue-text.contents-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                                p.grey-text.contents-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                                p.grey-text.contents-info__description 1.2. Научный журнал “Инженерные технологии и системы”
                        .contents-info__item
                            p.normal-text.contents-info__text Глава 1. Научный журнал “Инженерные технологии и системы”
                        .contents-info__item
                            p.normal-text.contents-info__text Глава 1. Научный журнал “Инженерные технологии и системы”
                        .contents-info__item
                            p.normal-text.contents-info__text Глава 1. Научный журнал “Инженерные технологии и системы”
                        .contents-info__item
