.saved.modal(data-modal-side="left")#modal-saved
    .container
        .content
            .popup-background
                .exit
                .saved__popup
                    .saved__new-bookmark.new-bookmark
                        svg.new-bookmark__img(width="18" height="25" viewBox="0 0 18 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1 23.0001V1.27783H17V23.0001L8.68 18.2483L1 23.0001Z" stroke="#418BCA" stroke-width="1.5")
                            path(d="M9 6V14" stroke="#418BCA" stroke-width="1.5")
                            path(d="M5 10L13 10" stroke="#418BCA" stroke-width="1.5")  
                        .new-bookmark__title.blue-text Новая закладка
                    .saved__title Закладки
                    form(action="").saved__inputs-wrapper
                        input.input-text.saved__input(type="text" placeholder='1.2. Научный журнал “Инженер инженер инженер' required)
                        button.button.saved__button(type='submit') Сохранить
                    .saved-info
                        .saved-info__item
                            .saved-wrapper
                                p.normal-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                                p.grey-text Стр. 5
                            img(src="./img/icons/pen.svg", alt="").saved-info__img.saved-info__img_edit
                            img(src="./img/icons/close.svg", alt="").saved-info__img.m-l-12.saved-info__img_delete
                        .saved-info__item
                            .saved-wrapper
                                p.normal-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                                p.grey-text Стр. 5
                            img(src="./img/icons/pen.svg", alt="").saved-info__img.saved-info__img_edit
                            img(src="./img/icons/close.svg", alt="").saved-info__img.m-l-12.saved-info__img_delete
                        .saved-info__item
                            .saved-wrapper
                                p.normal-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                                p.grey-text Стр. 5
                            img(src="./img/icons/pen.svg", alt="").saved-info__img.saved-info__img_edit
                            img(src="./img/icons/close.svg", alt="").saved-info__img.m-l-12.saved-info__img_delete
                        .saved-info__item
                            .saved-wrapper
                                p.normal-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                                p.grey-text Стр. 5
                            img(src="./img/icons/pen.svg", alt="").saved-info__img.saved-info__img_edit
                            img(src="./img/icons/close.svg", alt="").saved-info__img.m-l-12.saved-info__img_delete
                        .saved-info__item
                            .saved-wrapper
                                p.normal-text.saved-info__text 1.2. Научный журнал “Инженер инженер инженер
                                p.grey-text Стр. 5
                            img(src="./img/icons/pen.svg", alt="").saved-info__img.saved-info__img_edit
                            img(src="./img/icons/close.svg", alt="").saved-info__img.m-l-12.saved-info__img_delete
                    