.search.modal#modal-search(data-modal-side="right")
    .container
        .content
            .popup-background
                form(action="").search-popup
                    input.input-text.search__input(type="text" placeholder='Введите запрос' required)
                    .search-wrapper.m-t-16
                        input.checkbox(type="checkbox" id="exact-search") 
                        label.checkbox-label(for="exact-search") Точный поиск
                    .flex.m-t-16
                        button(type="submit").button.search__button Искать
                        p.search__clean.blue-text Очистить
                    .search-wrapper.m-t-24
                        .search__item.flex
                            p.grey-text Стр 5
                            p.normal-text ... фрезерования коробленой п...
                        .search__item.flex.m-t-10
                            p.grey-text Стр 5
                            p.normal-text ... фрезерования коробленой п...
                        .search__item.flex.m-t-10
                            p.grey-text Стр 5
                            p.normal-text ... фрезерования коробленой п...