.search.modal#modal-search
    .container
        .content
            .popup-background
                .search-popup
                    input.input-text.search__input(type="text" placeholder='Полка 2')
                    .search-wrapper.m-t-16
                        input.checkbox(type="checkbox" id="exact-search") 
                        label.checkbox-label(for="exact-search") Точный поиск
                    input(type="button" value='Искать').button.search__button.m-t-16
