.shelf.modal#modal-shelf
    .container
        .content
            .popup-background
                .shelf-popup 
                    input.checkbox(type="checkbox" id="shelf-1") 
                    label.checkbox-label(for="shelf-1") Полка 1
                    .flex
                        p.blue-text.shelf__description.m-t-24 Создать новую полку
                        .icon_close.shelf-close
                    .input-icon-wrapper
                        .input-icon
                        input.input-text.shelf__input(type="text" placeholder='Полка 2')
                    .shelf-wrapper.flex.jc-sb
                        button(type="button").button.shelf__button Сохранить
                        a.blue-text Управлять полками

                    
                    