.shelf.modal#modal-shelf
    .container
        .content
            .popup-background
                .shelf-popup 
                    input.checkbox(type="checkbox" id="shelf-1") 
                    label.checkbox-label(for="shelf-1") Полка 1
                    p.blue-text.shelf__description.m-t-24 Создать новую полку
                    input.input-text.shelf__input(type="text" placeholder='Полка 2')
                    .shelf-wrapper.flex.jc-sb
                        input(type="button" value='Сохранить').button.shelf__button
                        a.blue-text Управлять полками

                    
                    