doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Document
  link(rel='stylesheet', href='css/main.css')
  link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap" rel="stylesheet")
body
  //= templates/header.pug
  //= templates/controls.pug
  //= templates/reader-controls.pug

  //= templates/popups/entrance.pug
  //= templates/popups/saved.pug
  //= templates/popups/link.pug
  //= templates/popups/shelf.pug
  //= templates/popups/search.pug
  //= templates/popups/layout.pug
  .first-page
    //= templates/reader.pug
  //= templates/reader.pug
  //= templates/reader.pug
  //= templates/reader.pug
  //= templates/no-access.pug
  script(src='js/main.js')
  script(src="https://kit.fontawesome.com/3eca83bc4c.js" crossorigin="anonymous")
